body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

/* Estilos básicos para a lista de cartões */
#lista-cartoes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cartao {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
}

/* Estilos básicos para o formulário de configurações */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}



button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



form {
    margin: 20px auto;
    width: 300px;
}



button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Hide the balance initially */
#saldo_corrente, #saldo_poupanca {
    visibility: hidden; /* Initially hide the balance */
    transition: visibility 0.3s ease-in-out;
}

/* Show the balance when hovering over the parent element */
p:hover #saldo_corrente, p:hover #saldo_poupanca {
    visibility: visible;
}


/* Estilos padrões para o modo diurno */
body {
    background-color: white;
    color: black;
}

.container {
    background-color: #f9f9f9;
}

/* Modo noturno */
body.dark-mode {
    background-color: #333;
    color: white;
}

body.dark-mode .container {
    background-color: #444;
}

body.dark-mode button {
    background-color: #666;
    color: white;
}

body.dark-mode h1, body.dark-mode p {
    color: white;
}

/* Estilos adicionais para os botões no modo noturno */
button {
    background-color: #007BFF;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo dos botões de "Noite" e "Dia" */
button.mode-toggle {
    background-color: #555;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.mode-toggle:hover {
    background-color: #333;
}
